@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    /*Colors*/

    --primary-color: #ff7c04;
    --primary-color-900: #a85000;
    --primary-color-800: #c35d00;
    --primary-color-700: #dc6900;
    --primary-color-600: #f17300;
    --primary-color-500: #ff7c04;
    --primary-color-400: #ff891e;
    --primary-color-300: #ff9839;
    --primary-color-200: #ffa757;
    --primary-color-100: #ffc48e;

    --secondary-color: #4b5563;
    --secondary-color-900: #111928;
    --secondary-color-800: #1f2a37;
    --secondary-color-700: #374151;
    --secondary-color-600: #4b5563;
    --secondary-color-500: #6b7280;
    --secondary-color-400: #9ca3af;
    --secondary-color-300: #d1d5db;
    --secondary-color-200: #e5e7eb;
    --secondary-color-100: #f3f4f6;

    --danger-color: #f98080;
    --danger-color-900: #771d1d;
    --danger-color-800: #9b1c1c;
    --danger-color-700: #c81e1e;
    --danger-color-600: #e02424;
    --danger-color-500: #f05252;
    --danger-color-400: #f98080;
    --danger-color-300: #f8b4b4;
    --danger-color-200: #fbd5d5;
    --danger-color-100: #fde8e8;

    --warning-color: #faca15;
    --warning-color-900: #633112;
    --warning-color-800: #723b13;
    --warning-color-700: #8e4b10;
    --warning-color-600: #9f580a;
    --warning-color-500: #c27803;
    --warning-color-400: #e3a008;
    --warning-color-300: #faca15;
    --warning-color-200: #fce96a;
    --warning-color-100: #fdf6b2;

    --suceess-color: #31c48d;
    --suceess-color-900: #014737;
    --suceess-color-800: #03543f;
    --suceess-color-700: #046c4e;
    --suceess-color-600: #057a55;
    --suceess-color-500: #0e9f6e;
    --suceess-color-400: #31c48d;
    --suceess-color-300: #84e1bc;
    --suceess-color-200: #bcf0da;
    --suceess-color-100: #def7ec;

    /*Preset Box Shadows*/

    --shadow1: 2px 2px 6px 0px rgba(164, 165, 172, 0.2);
    --shadow2: 4px 4px 12px 0px rgba(101, 104, 114, 0.2);
    --shadow3: 8px 8px 28px 0px rgba(52, 58, 72, 0.2);
    --shadow4: 12px 12px 28px 0px rgba(77, 81, 92, 0.2);
    --shadow5: 14px 14px 32px 0px rgba(52, 58, 72, 0.2);
    --shadow6: 14px 14px 38px 0px rgba(24, 24, 24, 0.2);

    /*Preset Fonts ans Typografy*/

    --heading1-700: normal 700 60px 'Poppins', sans-serif;
    --heading1-600: normal 600 60px 'Poppins', sans-serif;
    --heading1-500: normal 500 60px 'Poppins', sans-serif;

    --heading2-700: normal 700 42px 'Poppins', sans-serif;
    --heading2-600: normal 600 42px 'Poppins', sans-serif;
    --heading2-500: normal 500 42px 'Poppins', sans-serif;

    --heading3-700: normal 700 60px 'Poppins', sans-serif;
    --heading3-600: normal 600 60px 'Poppins', sans-serif;
    --heading3-500: normal 500 60px 'Poppins', sans-serif;

    --heading4-700: normal 700 28px 'Poppins', sans-serif;
    --heading4-600: normal 600 28px 'Poppins', sans-serif;
    --heading4-500: normal 500 28px 'Poppins', sans-serif;

    /*Preset Buttons On-WORK

        --button-def-orange: ;
        --button-def-green: ;
        --button-def-yellow: ;
        --button-def-pink: ;

        --button-med-orange: ;
        --button-med-green: ;
        --button-med-yellow: ;
        --button-med-pink: ;

        --button-small:
        
        */
  }
}
